<!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">Sign up</a>
        <a class="nav-link" href="/login">Log in</a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/listings">
      <i class="fa-solid fa-compass me-2"></i> WanderLust
    </a>

    <!-- Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Left Links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add Listing</a>
      </div>

      <!-- Right Side -->
      <div class="navbar-nav ms-auto align-items-center">

        <% if(!currUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="btn btn-dark ms-2 px-3" href="/signup">Sign Up</a>
        <% } %>

        <% if(currUser) { %>
          <span class="nav-link me-2">
            Hello, <%= currUser.username %>
          </span>

          <a class="btn btn-outline-dark px-3" href="/logout">Logout</a>
        <% } %>

      </div>
    </div>
  </div>
</nav>